* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
}

legend {
    font-size: 18pt;
    text-align: left;
    margin: 10px 10px 10px 0;
    font-family: 'Lobster', cursive;

}

label,
.footer {
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    color: rgb(126, 126, 126);
}

fieldset {
    border: none;
}

button {
    border-style: none;
    border-radius: 5px;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 50px;
    background: rgb(71, 128, 182);
    color: white;
    font-size: 1.5em;
    font-family: 'Lobster', cursive;

}

footer {
    display: inline-block;
    width: 100%;
    height: 150px;
    margin-top: 20px;
    text-align: center;
}

p {
    text-align: center;
    color: rgb(126, 126, 126);
}

#legend1 {
    font-size: 18pt;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0;
    font-family: 'Lobster', cursive;

}

select {
    color: rgb(126, 126, 126);
}

input::placeholder {
    text-align: right;
    padding-right: 10px;
}


.title {
    background: rgb(46, 45, 45);
    color: white;
    line-height: 60px;
    text-align: center;
    font-family: 'Lobster', cursive;
}

.intro {
    color: rgb(126, 126, 126);
    border-bottom: double;
    border-width: .5em;
    padding-bottom: 35px;
    margin-top: 0;
}

.Contact {
    margin-top: 30px;
}

#field2 {
    margin-top: 30px;
    background-image: linear-gradient(white, yellow);
}

.Newsletter {
    border-top: double;
    padding-top: 30px;
    width: 100%;
}

.checkbox,
.radiobox {
    margin-top: 10px;
    margin-bottom: 10px;
}

#Fname,
#Eaddress,
#Pnumber,
#Saddress,
#City,
#Zcode {
    background: rgb(222,222,222);
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 0px;
    padding: 5px;
    border-style: none;
}

#State {
    background: rgb(222,222,222);
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 20px;
    border-style: none;
}

textarea {
    background: rgb(222,222,222);
    width: 100%;
    height: 150px;
    border-radius: 5px;
    margin-bottom: 18px;
    border-style: none;
}

#Zcode {
    background: rgb(222,222,222);
    width: 50%;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 0px;
    border-style: none;
}

#Fname:focus,
#Eaddress:focus,
#Pnumber:focus,
#Saddress:focus,
#City:focus,
#Zcode:focus,
#State:focus,
textarea:focus {
    background-color: rgb(43, 43, 43);
    transition: .6s;
    color: white;
}




/* ================ tablet screen+ =================== */

@media (min-width: 720px) {
    body {
        width: 720px;
        margin: auto;
    }

    #Fname,
    #Eaddress,
    #Pnumber,
    #Saddress,
    #City,
    #State {
        width: 550px;
        float: right;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .text::after {
        content:"";
        display: table;
        clear: both;
    }

    label {
        display: inline-block;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .text {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    #Zcode {
        width: 150px;
        margin-left: 77px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

}